<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div fxLayout="row">
		<div fxFlex.gt-sm="100%" >
				<mat-card>
						<mat-card-content>
							<table>
								<caption>Product detail</caption>
								<thead>
								  <tr>
									<th scope="col">product name</th>
									<th scope="col">quantity type</th>
									<th scope="col">display name</th>
									<th scope="col">delivery charge </th>
									<th></th>
									<th></th>
								  </tr>
								</thead>
								<tbody>
								  <tr *ngFor="let item of productdata">
									<td data-label="product name">{{item.product_name}}</td>
									<td data-label="quantity type">{{item.quantity_in}}</td>
									<td data-label="display name">{{item.display_name}}</td>
									<td data-label="delivery charge">{{item.delivery_charge}}</td>
									<td><button mat-raised-button color="primary" (click)="edit(item)">
										<i class="material-icons">
											edit
											</i>edit</button></td>
									<td><button mat-raised-button color="warn" (click) ="remove(item)" >
										<i class="material-icons">
											delete
										</i>delete</button>
									</td>
								  </tr>
						     	</tbody>
							  </table>
							  
						</mat-card-content>
						<button mat-raised-button color="primary" (click) = "add()">
							<i class="material-icons">
								add
								</i>Add</button>
						        
				</mat-card>
		</div>
</div>
<!-- ============================================================== -->
<!-- List with selection-->
<!-- ============================================================== -->
<!-- <div fxLayout="row">
		<div fxFlex.gt-sm="50%" >
				<mat-card>
						<mat-card-content>
							<mat-card-title>List with selection</mat-card-title>
							<mat-card-subtitle>A selection list provides an interface for selecting values, where each list item is an option.</mat-card-subtitle>
							<mat-selection-list #shoes>
								 <mat-list-option *ngFor="let shoe of typesOfShoes">
										{{shoe}}
								 </mat-list-option>
							</mat-selection-list>
							<p>
									Options selected: {{shoes.selectedOptions.selected.length}}
							</p>    
						</mat-card-content>        
				</mat-card>
		</div>
		<div fxFlex.gt-sm="50%" >
				<mat-card>
						<mat-card-content>
							<mat-card-title>Multiline lists</mat-card-title>
							<mat-card-subtitle>A selection list provides an interface for selecting values, where each list item is an option.</mat-card-subtitle>
							<mat-list>
								<mat-list-item *ngFor="let message of messages">
									<h3 matLine>{{message.from}}</h3>
									<p matLine class="text-muted">{{message.subject}}</p>
									<p matLine class="text-muted">{{message.content}}</p>    
								</mat-list-item>
							</mat-list>    
						</mat-card-content>        
				</mat-card>
		</div>
</div> -->
<!-- ============================================================== -->
<!-- List with icons selection-->
<!-- ============================================================== -->
<!-- <div fxLayout="row">
		<div fxFlex.gt-sm="100%" >
				<mat-card>
						<mat-card-content>
							<mat-card-title>Multiline lists</mat-card-title>
							<mat-card-subtitle>A selection list provides an interface for selecting values, where each list item is an option.</mat-card-subtitle>
							<mat-list>
								<mat-list-item *ngFor="let message of messages">
									<img mat-list-avatar [src]="message.image" alt="Image of {{message.from}}">    
									<h3 matLine>{{message.from}}</h3>
									<p matLine class="text-muted">{{message.content}}</p>     
								</mat-list-item>
							</mat-list>    
						</mat-card-content>        
				</mat-card>
		</div>
</div>  -->
<!-- ============================================================== -->
<!-- List with icons selection-->
<!-- ============================================================== -->
<!-- <div fxLayout="row">
	<div fxFlex.gt-sm="100%" >
		<mat-card>
			<mat-card-content class="p-b-0 m-b-0">
				<mat-card-title>List with sections</mat-card-title>
				<mat-card-subtitle>A selection list provides an interface for selecting values, where each list item is an option.</mat-card-subtitle>
			</mat-card-content>   
			<mat-list>
				<mat-card-content class="p-t-0">    
					<h3 mat-subheader>Folders</h3>
					<mat-list-item *ngFor="let folder of folders">
						<mat-icon mat-list-icon>folder</mat-icon>
						<h4 mat-line>{{folder.name}}</h4>
						<p mat-line> {{folder.updated | date}} </p>
					</mat-list-item>
				</mat-card-content>   
				<mat-divider></mat-divider>
				<mat-card-content>    
					<h3 mat-subheader>Notes</h3>
					<mat-list-item *ngFor="let note of notes">
						<mat-icon mat-list-icon>note</mat-icon>
						<h4 mat-line>{{note.name}}</h4>
						<p mat-line> {{note.updated | date}} </p>
					</mat-list-item>
				</mat-card-content>      
			</mat-list>    
		</mat-card>
	</div>
</div> -->