<div class="example-container">
    <mat-form-field>
      <input matInput placeholder="product name" [(ngModel)]="userData.product_name">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="quantity type" [(ngModel)]="userData.delivery_charge">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="display name" [(ngModel)]="userData.quantity_in">
      </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="delivery charge" [(ngModel)]="userData.display_name">
    </mat-form-field>
  
    
    <button mat-raised-button color="primary">
        <i class="material-icons">
            save
            </i>save</button>
  </div>